.container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-color: white;
    justify-content: center;

}

.main {
    margin-left: 20em;    
    margin-bottom: 10em;
}

.header h1 {
    color:  #e38d2a !important;
    font-family: "Poppins","Noto Sans Regular","Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: .12rem;
    margin-left: 2.5em;
}
.fieldContainer {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.field {
    font-family: inherit;
    width: 20%;
    border: 0;
    border-bottom: 2px solid #e7ba3d !important;

    outline: 0;
    font-size: 1.3rem;
    color: #761c38;
    padding: 7px 0;
    background: transparent;
    margin-bottom: 5px;
    overflow: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 5px;
}

.field:placeholder-shown~.label {
    font-size: 1.4rem;
    cursor: text;
    top: 20px;
    color: #761c38;
    display: block;
}

.field.label{
    font-size: 1.4rem;
    cursor: text;
    top: 20px;
    color: #761c38;
    display: block;
}

.field::placeholder {
    color: transparent;
}

.btn button {
    font-family: "Poppins","Noto Sans Regular","Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: .05rem;
    width: 10rem;
    padding: .5rem 0;
    font-size: 1rem;
    border-radius: 10px;
    border-color:#761c38 !important;
    border: solid #761c38;
    background: transparent;
    transition: 1.5s ease;
    color: #761c38;
    margin-top: 1em;
    margin-left: 9em;    
}

.btn button:hover {
    background-color: #660221;
    box-shadow: 0 .3rem 1.3rem #b11534;
    color: #ffffff;
    transition: background-color .4s;
}