* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #761c38;
  }
  
  /* Credit Card */
  .credit-card {
    width: 360px;
    height: 350px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #444451;
  }
  
  .form-body {
    height: 300px;
    padding: 30px 30px 20px;
  }
  
  /* Title */
  .title {
    font-size: 18px;
    margin: 0;
    color: #444451;
  }
  
  .card-number,
  .cvv-input input,
  .month select,
  .year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
  }
  
  .card-number,
  .month select,
  .year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
  }
  
  .card-number,
  .cvv-details,
  .cvv-input input,
  .month select,
  .year select {
    opacity: 0.7;
    color: #444451;
  }
  
  /* Card Number */
  .card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #444451;
    border-radius: 6px;
  }
  
  /* Date Field */
  .month select,
  .year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #444451;
    border-radius: 6px;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  .month select {
    float: left;
  }
  
  .year select {
    float: right;
  }
  
  .proceed-btn {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border-color: #761c38 !important;
    border: solid #761c38;
    background: #761c38;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: 1.5s ease;
    color: #761c38;
  }
  
  .proceed-btn:hover {
    background-color: #660221;
    box-shadow: 0 0.3rem 1.3rem #b11534;
    color: #ffffff;
    transition: background-color 0.4s;
  }
  
  .proceed-btn a {
    text-decoration: none;
  }
  
  .proceed-btn a {
    color: #fff;
  }
  
  .cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #444451;
    border-radius: 6px;
    background: #fff;
  }
  
  .cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
  }
  
  .cvv-details p {
    margin-top: 6px;
  }
  